.app {
  @extend .d-flex;
  @extend .flex-nowrap;

  height: 100vh;

  &__brand {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .mb-3;
    @extend .mb-md-0;
    @extend .me-md-auto;
    @extend .text-white;
    @extend .text-decoration-none;
    @extend .fs-4;

    cursor: pointer;
  }

  &__aside {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-shrink-0;
    @extend .p-3;
    @extend .text-bg-dark;
  }

  &__content {
    @extend .p-3;

    width: 100%;
  }
}
