$aside-menu-font-color: #2e2e2e;
$aside-menu-background-color-hover: #c4c4c4;

.aside-menu {
  display: flex;
  flex-direction: column;

  &__item {
    color: $aside-menu-font-color;
    display: block;
    line-height: 1em;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $aside-menu-font-color;
      background: $aside-menu-background-color-hover;
    }
  }
}
