$app-font-color: #c4c4c4;

.header {
  &__brand {
    color: $app-font-color;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin: 1em;
    line-height: 2em;

    &:hover {
      color: $app-font-color;
    }
  }
}
